<div class="search-container">
    <mat-card class="search-card">
        <mat-card-content class="custom">
            <form class="search-form">
                <mat-form-field>
                    <mat-label>Izaberite film</mat-label>
                    <mat-select>
                        <mat-option [value]="movie" *ngFor="let movie of movies">{{movie}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-content class="search-content">
            <form class="search-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Izaberite glumce</mat-label>
                    <mat-select>
                        <mat-option [value]="actor" *ngFor="let actor of actors">{{actor}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-content class="search-content">
            <form class="search-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Izaberite režisera</mat-label>
                    <mat-select>
                        <mat-option [value]="direc" *ngFor="let direc of directors">{{direc}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-content class="search-content">
            <form class="search-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Izaberite datum i vreme</mat-label>
                    <mat-select>
                        <mat-option [value]="date" *ngFor="let date of dates">{{date}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button routerLink="['/search']"><i class="fa-solid fa-magnifying-glass"></i> Pretraga</a>
        </mat-card-actions>
    </mat-card>
</div>