.example-card {
    max-width: 400px;
  }
  

  p{
    color: white !important;
  }
  .slika{
    height: 400px;
  }
  .container{
    display: flex;
    justify-content: space-evenly;
  }
  .title{
    color: white;
  }
  ::ng-deep .lista {
    margin: 0 !important;
    padding: 0 !important;
}

::ng-deep .lista mat-list-item {
    margin-bottom: -15px !important; 
    padding: 0 !important; 
}
