<div class="container">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title class="title">Svemu dođe kraj</mat-card-title>
            <mat-card-subtitle>Domaći film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="slika"
            src="http://www.rodacineplex.com/ikonice/1728474498Svemu_do%C4%91e_lkraj_poster_(360X528).jpg"
            alt="Photo of a movie">
        <mat-card-content>
            <p>
                Maks Pinter, uspešni zagrebački advokat, oslobodio je svog klijenta, bogatog i moćnog Dinka Horvata od
                optužnice za dvostruko ubistvo. Na proslavi, pijani Maks Dinku kaže da je hladnokrvni ubica radnika koji
                su samo došli da pitaju za svoju platu. Sukob s jednim od stubova društva Maksa će učiniti nepoželjnim;
                izgubiće partnera i klijente, ostaviće ga žena... Uz pomoć Nine, ljubavi iz studentskih dana, Maks će
                krenuti u osvetnički pohod. S druge strane, niko u ovoj priči nije sasvim nevin i svi su duboko
                isprepletani.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>
                <i class="fa-solid fa-up-right-from-square"></i>   REZERVIŠI</button>
            <button mat-button>
                <i class="fa-solid fa-circle-info"></i>   DETALJI</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title class="title">Čudovište</mat-card-title>
            <mat-card-subtitle>Japanski film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="slika"
            src="http://www.rodacineplex.com/ikonice/1728474185%C4%8Cudovi%C5%A1te_poster_(360X528).jpg"
            alt="Photo of a movie">
        <mat-card-content>
            <p>
                Kada mladi Minato počne da se ponaša čudno, njegova majka oseć a da nešto nije u redu. Otkrivši da je
                nastavnik odgovoran, ona upada u školu tražeć i da sazna šta se dešava. Kako se priča odvija u očima
                majke, nastavnika i deteta, istina postepeno izlazi na videlo.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>
                <i class="fa-solid fa-up-right-from-square"></i>   REZERVIŠI</button>
            <button mat-button>
                <i class="fa-solid fa-circle-info"></i>   DETALJI</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title class="title">Male šape na velikom putovanju</mat-card-title>
            <mat-card-subtitle>Kanadski animirani film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="slika"
            src="http://www.rodacineplex.com/ikonice/1727378473Male_%C5%A1ape_na_velikom_putovanju_poster_(360X528).jpg"
            alt="Photo of a movie">
        <mat-card-content>
            <p>
                Zabavan porodični film koji će vas podsetiti da je prijateljstvo ne samo najveća nagrada u životu, već i
                najuzbudljivija avantura! Grejsi i Pedro su porodični ljubimci koji nemaju ništa zajedničko. Grejsi je
                uštogljeni čistokrvni pas koji se smatra „najboljim na izložbi", dok je Pedro drska mačka koja voli
                večeru iz smeća. Nakon što se porodica preseli, Grejsi i Pedro svojim svađama unište pokretnu traku za
                prtljag na aerodromu, ostavljajući ljubimce izgubljene i napuštene bez ogrlica u zastrašujućem i
                nepoznatom svetu. Ono što ih deli od ponovnog susreta s porodicom je zahtevna potraga, ispunjena
                šarolikim likovima i opasnim pustolovinama, koja prisiljava Grejsi i Pedra da prihvate ono što imaju
                zajedničko – ne odustati od porodice. U međuvremenu, Sofie i Gevin, deca iz porodice, takođe ne odustaju
                od njih, objavljujući pesmu o svojim izgubljenim ljubimcima koja postaje viralna…
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>
                <i class="fa-solid fa-up-right-from-square"></i>   REZERVIŠI</button>
            <button mat-button>
                <i class="fa-solid fa-circle-info"></i>   DETALJI
            </button>
        </mat-card-actions>
    </mat-card>
</div>