
<div class="container">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title class="title">Svemu dođe kraj</mat-card-title>
            <mat-card-subtitle>Hrvatski film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="slika"
            src="http://www.rodacineplex.com/ikonice/1728474498Svemu_do%C4%91e_lkraj_poster_(360X528).jpg"
            alt="Photo of a movie">
        <mat-card-content>
            <p>
                <mat-list role="list" class="lista">
                    <mat-list-item role="listitem">Režiser: Rajko Grlić</mat-list-item>
                    <mat-list-item role="listitem">Glumci: Jelena Đokić, Živko Anočić</mat-list-item>
                    <mat-list-item role="listitem">Žanr: Drama, Triler, krimi</mat-list-item>
                    <mat-list-item role="listitem">Trajanje: 78 min</mat-list-item>
                    <mat-list-item role="listitem">Godina proizvodnje: 2024</mat-list-item>
                    <mat-list-item role="listitem">Vreme prikazivanja: 25.10.2024 19:30</mat-list-item>
                    <mat-list-item role="listitem">Cena karte: 600 rsd</mat-list-item>
                    <mat-list-item role="listitem">Recenzije: 6/10</mat-list-item>
                </mat-list>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button >
                <i class="fa-solid fa-up-right-from-square"></i> REZERVIŠI</button>
            <button mat-button>
                <i class="fa-solid fa-circle-info"></i> DETALJI</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title class="title">Čudovište</mat-card-title>
            <mat-card-subtitle>Japanski film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="slika"
            src="http://www.rodacineplex.com/ikonice/1728474185%C4%8Cudovi%C5%A1te_poster_(360X528).jpg"
            alt="Photo of a movie">
        <mat-card-content>
            <p>
                <mat-list role="list" class="lista">
                    <mat-list-item role="listitem">Režiser: Hirokazu Koreeda</mat-list-item>
                    <mat-list-item role="listitem">Glumci: Ando Sakura, Eita Nagayama</mat-list-item>
                    <mat-list-item role="listitem">Žanr: Drama, Triler</mat-list-item>
                    <mat-list-item role="listitem">Trajanje: 123 min</mat-list-item>
                    <mat-list-item role="listitem">Godina proizvodnje: 2024</mat-list-item>
                    <mat-list-item role="listitem">Vreme prikazivanja: 26.10.2024 18:30</mat-list-item>
                    <mat-list-item role="listitem">Cena karte: 300 rsd</mat-list-item>
                    <mat-list-item role="listitem">Recenzije: 2.5/10</mat-list-item>
                </mat-list>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>
                <i class="fa-solid fa-up-right-from-square"></i> REZERVIŠI</button>
            <button mat-button>
                <i class="fa-solid fa-circle-info"></i> DETALJI</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title class="title">Male šape na velikom putovanju</mat-card-title>
            <mat-card-subtitle>Animirani film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="slika"
            src="http://www.rodacineplex.com/ikonice/1727378473Male_%C5%A1ape_na_velikom_putovanju_poster_(360X528).jpg"
            alt="Photo of a movie">
        <mat-card-content>
            <p>
                <mat-list role="list" class="lista">
                    <mat-list-item role="listitem">Režiser: Kevin Donovan</mat-list-item>
                    <mat-list-item role="listitem">Glumci: Animirani film</mat-list-item>
                    <mat-list-item role="listitem">Žanr: Animirana avantura, Porodični</mat-list-item>
                    <mat-list-item role="listitem">Trajanje: 87 min</mat-list-item>
                    <mat-list-item role="listitem">Godina proizvodnje: 2024</mat-list-item>
                    <mat-list-item role="listitem">Vreme prikazivanja: 27.10.2024 16:00</mat-list-item>
                    <mat-list-item role="listitem">Cena karte: 450 rsd</mat-list-item>
                    <mat-list-item role="listitem">Recenzije: 7.2/10</mat-list-item>
                </mat-list>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>
                <i class="fa-solid fa-up-right-from-square"></i> REZERVIŠI</button>
            <button mat-button>
                <i class="fa-solid fa-circle-info"></i> DETALJI
            </button>
        </mat-card-actions>
    </mat-card>
</div>



<div class="container">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title class="title">Leteći brod</mat-card-title>
            <mat-card-subtitle>Ruski film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="slika"
            src="http://www.rodacineplex.com/ikonice/1727367526Ship_poster_(360X528).jpg"
            alt="Photo of a movie">
        <mat-card-content>
            <p>
                <mat-list role="list" class="lista">
                    <mat-list-item role="listitem">Režiser: Ilya Uchitel</mat-list-item>
                    <mat-list-item role="listitem">Glumci:Ekaterina Ageva,Anton Biryukov</mat-list-item>
                    <mat-list-item role="listitem">Žanr: Komedija, Avantura, Porodični</mat-list-item>
                    <mat-list-item role="listitem">Trajanje: 100 min</mat-list-item>
                    <mat-list-item role="listitem">Godina proizvodnje: 2024</mat-list-item>
                    <mat-list-item role="listitem">Vreme prikazivanja: 27.10.2024 20:00</mat-list-item>
                    <mat-list-item role="listitem">Cena karte: 550 rsd</mat-list-item>
                    <mat-list-item role="listitem">Recenzije: 5.3/10</mat-list-item>
                </mat-list>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button >
                <i class="fa-solid fa-up-right-from-square"></i> REZERVIŠI</button>
            <button mat-button>
                <i class="fa-solid fa-circle-info"></i> DETALJI</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title class="title">My Hero Academia: Ti si sledeći</mat-card-title>
            <mat-card-subtitle>Animirani film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="slika"
            src="http://www.rodacineplex.com/ikonice/1727208083My_Hero_Academia_You're_Next_poster_(360X528).jpg"
            alt="Photo of a movie">
        <mat-card-content>
            <p>
                <mat-list role="list" class="lista">
                    <mat-list-item role="listitem">Režiser: Tensai Okamura</mat-list-item>
                    <mat-list-item role="listitem">Glumci: Yôsuke Kuroda</mat-list-item>
                    <mat-list-item role="listitem">Žanr: Animirani, Avantura</mat-list-item>
                    <mat-list-item role="listitem">Trajanje: 110 min</mat-list-item>
                    <mat-list-item role="listitem">Godina proizvodnje: 2024</mat-list-item>
                    <mat-list-item role="listitem">Vreme prikazivanja: 28.10.2024 21:00</mat-list-item>
                    <mat-list-item role="listitem">Cena karte: 500 rsd</mat-list-item>
                    <mat-list-item role="listitem">Recenzije: 6.1/10</mat-list-item>
                </mat-list>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button >
                <i class="fa-solid fa-up-right-from-square"></i> REZERVIŠI</button>
            <button mat-button>
                <i class="fa-solid fa-circle-info"></i> DETALJI</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title class="title">Terrifier 3</mat-card-title>
            <mat-card-subtitle>Američki film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="slika"
            src="http://www.rodacineplex.com/ikonice/1728479400B1_TERRIFIER_3_SRB_(360X528)-1.jpg"
            alt="Photo of a movie">
        <mat-card-content>
            <p>
                <mat-list role="list" class="lista">
                    <mat-list-item role="listitem">Režiser: Damien Leone</mat-list-item>
                    <mat-list-item role="listitem">Glumci: Jason Patric, Daniel Roebuck</mat-list-item>
                    <mat-list-item role="listitem">Žanr: Horror</mat-list-item>
                    <mat-list-item role="listitem">Trajanje: 125 min</mat-list-item>
                    <mat-list-item role="listitem">Godina proizvodnje: 2024</mat-list-item>
                    <mat-list-item role="listitem">Vreme prikazivanja: 29.10.2024 22:00</mat-list-item>
                    <mat-list-item role="listitem">Cena karte: 500 rsd</mat-list-item>
                    <mat-list-item role="listitem">Recenzije: 4.9/10</mat-list-item>
                </mat-list>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button >
                <i class="fa-solid fa-up-right-from-square"></i> REZERVIŠI</button>
            <button mat-button>
                <i class="fa-solid fa-circle-info"></i> DETALJI</button>
        </mat-card-actions>
    </mat-card>
</div>


<div class="container">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title class="title">Klinci kaubojci</mat-card-title>
            <mat-card-subtitle>Animirani film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="slika"
            src="http://www.rodacineplex.com/ikonice/1724931881Buffalo_kids_poster_(360X528).jpg"
            alt="Photo of a movie">
        <mat-card-content>
            <p>
                <mat-list role="list" class="lista">
                    <mat-list-item role="listitem">Režiser:Juan Jesús García Galocha</mat-list-item>
                    <mat-list-item role="listitem">Glumci:Animirani film</mat-list-item>
                    <mat-list-item role="listitem">Žanr: Komedija, Avantura, Animirani</mat-list-item>
                    <mat-list-item role="listitem">Trajanje: 93 min</mat-list-item>
                    <mat-list-item role="listitem">Godina proizvodnje: 2024</mat-list-item>
                    <mat-list-item role="listitem">Vreme prikazivanja: 29.10.2024 16:00</mat-list-item>
                    <mat-list-item role="listitem">Cena karte: 600 rsd</mat-list-item>
                    <mat-list-item role="listitem">Recenzije: 7/10</mat-list-item>
                </mat-list>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button >
                <i class="fa-solid fa-up-right-from-square"></i> REZERVIŠI</button>
            <button mat-button>
                <i class="fa-solid fa-circle-info"></i> DETALJI</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title class="title">Megdna: između vode i vatre</mat-card-title>
            <mat-card-subtitle>Domaći film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="slika"
            src="http://www.rodacineplex.com/ikonice/1724318824Megdan_poster.jpg"
            alt="Photo of a movie">
        <mat-card-content>
            <p>
                <mat-list role="list" class="lista">
                    <mat-list-item role="listitem">Režiser:Todor Chapkanov</mat-list-item>
                    <mat-list-item role="listitem">Glumci:Viktor Savić, Petar Božović</mat-list-item>
                    <mat-list-item role="listitem">Žanr: Sport, Komedija, Drama</mat-list-item>
                    <mat-list-item role="listitem">Trajanje: 106 min</mat-list-item>
                    <mat-list-item role="listitem">Godina proizvodnje: 2024</mat-list-item>
                    <mat-list-item role="listitem">Vreme prikazivanja: 30.10.2024 19:30</mat-list-item>
                    <mat-list-item role="listitem">Cena karte: 600 rsd</mat-list-item>
                    <mat-list-item role="listitem">Recenzije: 4.4/10</mat-list-item>
                </mat-list>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button >
                <i class="fa-solid fa-up-right-from-square"></i> REZERVIŠI</button>
            <button mat-button>
                <i class="fa-solid fa-circle-info"></i> DETALJI</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title class="title">Neukrotivi robot</mat-card-title>
            <mat-card-subtitle>Animirani film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="slika"
            src="http://www.rodacineplex.com/ikonice/1721174723Neukrotivi_robot_poster_(360X528).jpg"
            alt="Photo of a movie">
        <mat-card-content>
            <p>
                <mat-list role="list" class="lista">
                    <mat-list-item role="listitem">Režiser:Chris Sanders</mat-list-item>
                    <mat-list-item role="listitem">Glumci:Animirani film</mat-list-item>
                    <mat-list-item role="listitem">Žanr: Avantura, Porodični, Animirani</mat-list-item>
                    <mat-list-item role="listitem">Trajanje: 92 min</mat-list-item>
                    <mat-list-item role="listitem">Godina proizvodnje: 2024</mat-list-item>
                    <mat-list-item role="listitem">Vreme prikazivanja: 1.11.2024 18:30</mat-list-item>
                    <mat-list-item role="listitem">Cena karte: 400 rsd</mat-list-item>
                    <mat-list-item role="listitem">Recenzije: 4.8/10</mat-list-item>
                </mat-list>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button >
                <i class="fa-solid fa-up-right-from-square"></i> REZERVIŠI</button>
            <button mat-button>
                <i class="fa-solid fa-circle-info"></i> DETALJI</button>
        </mat-card-actions>
    </mat-card>

</div>
<div class="container">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title class="title">DŽoker: ludilo u dvoje</mat-card-title>
            <mat-card-subtitle>Američki film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="slika"
            src="http://www.rodacineplex.com/ikonice/1727733578446x648_SKYLINE.png"
            alt="Photo of a movie">
        <mat-card-content>
            <p>
                <mat-list role="list" class="lista">
                    <mat-list-item role="listitem">Režiser:Tod Filips</mat-list-item>
                    <mat-list-item role="listitem">Glumci: Joaquin Phoenix, Lady Gaga</mat-list-item>
                    <mat-list-item role="listitem">Žanr: Drama, Triler, Mjuzikl</mat-list-item>
                    <mat-list-item role="listitem">Trajanje: 138 min</mat-list-item>
                    <mat-list-item role="listitem">Godina proizvodnje: 2024</mat-list-item>
                    <mat-list-item role="listitem">Vreme prikazivanja: 1.11.2024 21:00</mat-list-item>
                    <mat-list-item role="listitem">Cena karte: 600 rsd</mat-list-item>
                    <mat-list-item role="listitem">Recenzije: 3.6/10</mat-list-item>
                </mat-list>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button >
                <i class="fa-solid fa-up-right-from-square"></i> REZERVIŠI</button>
            <button mat-button>
                <i class="fa-solid fa-circle-info"></i> DETALJI</button>
        </mat-card-actions>
    </mat-card>
</div>
