<div class="container">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title class="title">Svemu dođe kraj</mat-card-title>
            <mat-card-subtitle>Hrvatski film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="slika"
            src="http://www.rodacineplex.com/ikonice/1728474498Svemu_do%C4%91e_lkraj_poster_(360X528).jpg"
            alt="Photo of a movie">
        <mat-card-content>
            <p>
                <mat-list role="list" class="lista">
                    <mat-list-item role="listitem">Režiser: Rajko Grlić</mat-list-item>
                    <mat-list-item role="listitem">Glumci: Jelena Đokić, Živko Anočić</mat-list-item>
                    <mat-list-item role="listitem">Žanr: Drama, Triler, krimi</mat-list-item>
                    <mat-list-item role="listitem">Trajanje:  78 min</mat-list-item>
                    <mat-list-item role="listitem">Godina proizvodnje: 2024</mat-list-item>
                    <mat-list-item role="listitem">Vreme prikazivanja: 25.10.2024 19:30</mat-list-item>
                    <mat-list-item role="listitem">Cena karte: 600 rsd</mat-list-item>
                    <mat-list-item role="listitem">Recenzije: 6/10</mat-list-item>
                  </mat-list>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>
                <i class="fa-solid fa-up-right-from-square"></i>   REZERVIŠI</button>
            <button mat-button>
                <i class="fa-solid fa-circle-info"></i>   DETALJI</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title class="title">Čudovište</mat-card-title>
            <mat-card-subtitle>Japanski film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="slika"
            src="http://www.rodacineplex.com/ikonice/1728474185%C4%8Cudovi%C5%A1te_poster_(360X528).jpg"
            alt="Photo of a movie">
        <mat-card-content>
            <p>
                <mat-list role="list" class="lista">
                    <mat-list-item role="listitem">Režiser: Hirokazu Koreeda</mat-list-item>
                    <mat-list-item role="listitem">Glumci: Ando Sakura, Eita Nagayama</mat-list-item>
                    <mat-list-item role="listitem">Žanr: Drama, Triler</mat-list-item>
                    <mat-list-item role="listitem">Trajanje:  123 min</mat-list-item>
                    <mat-list-item role="listitem">Godina proizvodnje: 2024</mat-list-item>
                    <mat-list-item role="listitem">Vreme prikazivanja: 26.10.2024 18:30</mat-list-item>
                    <mat-list-item role="listitem">Cena karte: 300 rsd</mat-list-item>
                    <mat-list-item role="listitem">Recenzije: 2.5/10</mat-list-item>
                  </mat-list>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>
                <i class="fa-solid fa-up-right-from-square"></i>   REZERVIŠI</button>
            <button mat-button>
                <i class="fa-solid fa-circle-info"></i>   DETALJI</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title class="title">Male šape na velikom putovanju</mat-card-title>
            <mat-card-subtitle>Kanadski animirani film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="slika"
            src="http://www.rodacineplex.com/ikonice/1727378473Male_%C5%A1ape_na_velikom_putovanju_poster_(360X528).jpg"
            alt="Photo of a movie">
        <mat-card-content>
            <p>
                <mat-list role="list" class="lista">
                    <mat-list-item role="listitem">Režiser: Kevin Donovan</mat-list-item>
                    <mat-list-item role="listitem">Glumci: Animirani film</mat-list-item>
                    <mat-list-item role="listitem">Žanr: Animirana avantura, Porodični</mat-list-item>
                    <mat-list-item role="listitem">Trajanje:  87 min</mat-list-item>
                    <mat-list-item role="listitem">Godina proizvodnje: 2024</mat-list-item>
                    <mat-list-item role="listitem">Vreme prikazivanja: 27.10.2024 16:00</mat-list-item>
                    <mat-list-item role="listitem">Cena karte: 450 rsd</mat-list-item>
                    <mat-list-item role="listitem">Recenzije: 7.2/10</mat-list-item>
                  </mat-list>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>
                <i class="fa-solid fa-up-right-from-square"></i>   REZERVIŠI</button>
            <button mat-button>
                <i class="fa-solid fa-circle-info"></i>   DETALJI
            </button>
        </mat-card-actions>
    </mat-card>
</div>